*{
    font-family: quicksand;
    margin: 0;
    padding: 0;
}
.logo{
    color: rgb(251, 250, 249);
    font-weight: bold;
}
#header{
  box-shadow: 2px 2px 2px rgb(241, 131, 6);
  background-color: black;
}
.navbar-nav .nav-item .nav-link{
    font-size: 16px;
    margin-left: 25px;
    color: rgb(247, 246, 246);
    display: inline;
}
.navbar-nav .nav-item .nav-link:hover{
  box-shadow: 2px 2px 2px white;
  border-radius: 15px;
  transition-duration: 1s;
  color: rgb(246, 244, 244);
  
}
.div1{
    display: flex;
    align-items: center;
   margin-left: 60px;
   margin-top: 30px;
}
.service{
    display: block;
    font-size: 26px;
    letter-spacing: 5px;
    color: rgb(8, 9, 9);
     text-shadow: 2px 2px 2px rgb(176, 174, 174);
     margin-left: 41%;
}
.section1{
    background-color: black;
   padding: 70px 90px 70px 90px;
   margin-top: 50px;
   display: flex;
   justify-content: space-evenly;
   
}
.time{
     background-color: rgb(253, 251, 251);
     color: rgb(8, 8, 8);
     height: 257px;
     width: 226px;
     border-radius: 25px;
     position: relative;
     border-bottom: 4px solid rgb(244, 164, 98);
     
     
}
.time:hover{
    transform: scale(1.1);
    transition-duration: 1.6s;

}
.time p{
    padding: 5px 0px 20px 10px;
    font-size: 15px;
}

.img1{
    height: 130px;
    width: 170px;
    padding-left: 50px;
    padding-top: 30px;
}
.img3{
    height: 100px;
    margin-left: 30px;
    margin-top: 40px;
}
.img2{
    height: 130px;
    margin-left: 40px;
  margin-top: 10px;
}
.img4{
    height: 125px;
    width: 160px;
    margin-left: 25px;
    margin-top: 10px;
   
}
.para{
   text-align: center;
  width: 70%;
 margin-left: auto;
 margin-right: auto;
 margin-top: 30px;
    
}
.timeframe{
    background-color: rgb(252, 140, 59);
    color: white;
    font-weight: bold;
    padding: 5px;
    width: 150px;
    text-align: center;
    position: absolute;
    bottom: 95%;
    left: 14%;
   
   
}
footer{
    background-color:black;
    height: 50vh;
    margin-top: 10%;
    border-radius: 40px 40px 0px 0px;
    position: relative;
    display: flex;
    flex-direction: column ;
    align-items: center;
    justify-content: center;
    
  }
  .footer1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-left: 11%;
  }
  .footer2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-left: 13.5%;
  }
  .row, .row2{
    /* border: 1px solid white; */
    height: 10vh;
    width: 30%;
    color: rgb(255, 255, 255);
    margin: 0;
   
  }
  
  .row{
    font-size: 14px;
    padding-bottom: 50px;
    color: #b6b4b4;
    
  }
  .row2 p{
    font-size: 14px;
    padding-bottom: 50px;
    color: #b6b4b4;
    width: 200px;
  }
  .row h5{
    color: white;
  }
  hr{
    width: 85%;
    color: white;
  }
  .row2{
    color: white;
  }
  .icons{
    display: inline;
    margin: 0px 15px 0px 0px;
    
    
  }
  .icons img{
    height: 30px;
    width: 30px;
  }
  .icons img:hover{
    border-bottom: 1px solid rgb(255, 255, 255);
    transform: scale(1.1);
  }
  .row2 li {
    list-style: none;
  }
  .row2 a{
    text-decoration: none; 
    color: #b6b4b4;
  }
  .row2 a:hover{
    border-bottom: 1px solid gainsboro;
  }
  .mail{
    position: absolute;
    bottom: 40px;
    width: 200px;
    border: none;
    box-shadow: 3px 3px  rgb(251, 152, 14);
  }
  .one2 img{
    width: 30px;
    height: 30px;
    position: absolute;
    top: 90px;
    left: 41.5%;
  }
  .one3 img{
    height: 30px;
    width: 50px;
    position: absolute;
    top: 88px;
    right: 25.8%;
  }
  .one1 img{
    height: 32px;
    width: 25px;
    position: absolute;
    top: 92px;
  }
  .ending{
    background-color: gainsboro;
    height: 30px;
  }
  .ending{
    display: flex;
    text-align: center;
    justify-content: space-evenly;
  }
  .develop{
    width: 180px;
    animation: typing 10s infinite, step-start infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    font-size: 13px;
    font-weight: bold;
    padding-top: 3px;
  }
  @keyframes typing {
    from {
      width: 0
    }
  }
  
  article{
    position: absolute;
    top: -38px;
    width: 70%;
    background-color: gainsboro;
    border-radius: 30px;
    font-weight: bold;
    height: 10vh;
    display: flex;
     align-items: center;
     justify-content: space-evenly;
    border-bottom: 2px solid white;
  
  }
  .animate{
    border: none;
    background-color: rgb(11, 11, 11);
    color: white;
    font-weight: bold;
  }
  article:hover{
    background-color: gainsboro;
  }
  .animate:hover{
    background-color: rgb(251, 136, 42);
  }
@media screen and (max-width:767px) {
    *{
        margin: 0%;
        padding: 0;
    }
    .div1{
        margin-top: 0;
        margin-left: 50px;
        }
        .service{
            margin-left: 30px;
        }
        .para{
            margin-top: 10px;
            width: 100%;
        }
        .para p{
            padding-left: 0;
        }
        .section1{
            margin-top: 10px;
            display: block;
            padding: 30px 87px 20px 85px;
           
        }
        .time{
            margin-top: 33px;
            
        }
       

    }